.article-clean .intro {
  font-size: 16px;
  margin: 0 auto 30px;
}

.article-clean .intro h1 {
  font-size: 32px;
  margin-bottom: 15px;
  padding-top: 20px;
  line-height: 1.5;
  color: #4A4A4A;
  font-family: montserrat;
  font-weight: bold;
}

.article-clean .intro p {
  color: #929292;
  font-size: 12px;
}

.article-clean .intro p .by {
  font-style: italic;
}

.article-clean .intro p .date {
  text-transform: uppercase;
  padding: 4px 0 4px 10px;
  margin-left: 10px;
  border-left: 1px solid #ddd;
}

.article-clean .intro p a {
  color: #333;
  text-transform: uppercase;
  padding-left: 3px;
}

.article-clean .intro img {
  margin-top: 20px;
}

.article-clean .text p {
  margin-bottom: 20px;
  line-height: 1.45;
}

@media (min-width:768px) {
  .article-clean .text p {
    font-size: 16px;
  }
}

.article-clean .text h2 {
  margin-top: 28px;
  margin-bottom: 20px;
  line-height: 1.45;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

@media (min-width:768px) {
  .article-clean .text h2 {
    font-size: 20px;
  }
}

.article-clean .text figure {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.article-clean .text figure img {
  margin-bottom: 12px;
  max-width: 100%;
}

sub-heading {
}

.h1, h1 {
}

h1.sub-heading-two {
  font-family: avenir next;
  font-size: 24px;
  color: #4A4A4A;
  font-weight: bold;
  line-height: 40px;
  margin-top: 32px;
  padding: 16px 0;
}

h1.sub-heading, h1.sub-heading-two {
  font-family: avenir next;
  font-size: 24px;
  color: #4A4A4A;
  font-weight: normal;
  line-height: 40px;
  margin-top: 32px;
  padding: 16px 0;
}

.web-app {
  max-width: 640px;
}

@media (min-width: 300px) {
  .web-app {
    max-width: 320px;
  }
}

@media (min-width: 576px) {
  .web-app {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  .web-app {
    max-width: 640px;
  }
}

.iphone-with-purple-bg {
  max-width: 480px;
}

@media (min-width: 992px) {
  .iphone-with-purple-bg {
    max-width: 440px;
  }
}

@media (min-width: 1200px) {
  .iphone-with-purple-bg {
    max-width: 480px;
  }
}

.col.tech-support {
  margin-top: 125px;
}

.tech-support.text-center {
  font-family: montserrat;
  font-size: 32px;
  font-weight: bold;
  color: #4A4A4A;
}

.star-icon {
  margin: -12px 16px 0 0;
}

.tech-support-and-design {
  margin-top: 125px;
  float: left;
  width: 100%;
  text-align: left;
}

.tech-support-p {
  text-align: left;
  margin-top: 16px;
}

.design {
  margin-top: 48px;
}

.design {
  float: left;
  width: 100%;
  text-align: left;
}

footer {
  margin-bottom: 48px;
}

footer li {
  line-height: 2em;
  font-family: avenir next;
  color: #4A4A4A;
  font-size: 16px;
}

.quote-img {
  max-width: 127px;
  float: right;
}

h3.quote-msg {
  font-family: avenir next;
  font-size: 24px;
  font-weight: bold;
  line-height: 56px;
  text-align: left;
  color: #4A4A4A;
}

span {
  color: #FE6B6F;
}

.d-flex.align-items-center.shape-image {
  display: block;
  margin: 0 auto;
}

